<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Frankensteiner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Frankensteiner.Properties.Settings>
            <setting name="appTheme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="appAccent" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="appStartupPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="appStartupSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="cfgConfigPath" serializeAs="String">
                <value />
            </setting>
            <setting name="cfgMordhauPath" serializeAs="String">
                <value />
            </setting>
            <setting name="cfgBackupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="cfgNormalBackup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cfgZIPBackup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cfgZIPLimit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cfgZIPLimitActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cfgDisableMovies" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cfgCheckConflict" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cfgAutoClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cfgConflictWarnings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cfgRestartMordhau" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cfgRestartMordhauMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cfgShortcutsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isWindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
        </Frankensteiner.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
